@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main {
  padding: 100px;
}

section {
  padding: 2rem 0;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  color: #000;
  font-weight: bold;
}

.btn::after {
  content: "";
  background: linear-gradient(to left, yellow 10%, purple 90%);
  width: 0;
  height: 2px;
  display: block;
  transition: 500ms all ease-in-out;
}

.btn:hover::after {
  width: 100%;
}

audio {
  max-width: 100%;
}

.border-1 {
  border: 1px solid purple;
  width: 200px;
  margin-bottom: 1rem;
}

/* Hero */

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/ZDcX.gif") no-repeat center / 55%;
  background-color: #000;

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  margin: 1rem 0;
}

.hero-content {
  background: linear-gradient(to right, #ffff00 70%, #6a0dad 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

i {
  margin: 1rem 0 1.5rem 0;
  font-size: 2rem;
}

/* Grid-Box */

.grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.grid-box .left {
  text-align: center;
}

.grid-box .left h2 {
  font-size: 3rem;
}

.grid-box .left p {
  margin: 1rem 0 1.5rem 0;
  font-weight: bold;
  font-size: 1.3rem;
}

.grid-box .right {
  position: relative;
  height: 100%;
  width: 100%;
}

.grid-box .right img:first-child {
  animation: slide1 0.4s infinite ease-in-out;
}

/* Aura Image */

.layer {
  position: absolute;
  height: 80%;
  top: 90px;
  left: 10px;
  z-index: -1;
}

.layer img {
  height: 100%;
  width: 100%;
  animation: slide2 0.2s infinite ease-in-out;
}

/* Keyframes */

@keyframes slide1 {
  0% {
    filter: drop-shadow(0 0 0rem yellow);
  }

  25% {
    filter: drop-shadow(0 0 1rem yellow);
  }
}

/* Gallery */

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 8rem;
}

.gallery .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  transition: 500ms ease-in-out;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card .content {
  margin-top: -140px;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: 500ms ease-in-out;
}

.card:hover .content {
  opacity: 1;
  visibility: visible;
  margin-top: -40px;
}

.card .imgbx {
  position: relative;
  width: 230px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  background: yellow;
}

/* Section */

.section-1 {
  margin-top: 5rem;
}

.section-container {
  padding: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.section-wrap {
  grid-column: span 2;
}

.section-wrap-1 {
  grid-column: span 3;
}

.section-wrap h1 {
  font-size: 3rem;
  font-weight: 300;
}

/* Gif */

.gif-box {
  display: grid;
  align-items: center;
  grid-template-columns: 25% 1fr;
  gap: 1rem;
}

.gif-box .right > img {
  margin: 0.5rem;
}

/* Media Files */
/* Laptop */

@media (max-width: 1024px) {
  .layer {
    top: -40px;
    left: -40px;
    width: 100%;
  }

  .gallery .card {
    height: 100%;
  }

  .card .content {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }

  .card .imgbx {
    position: relative;
    width: 230px;
    height: 260px;
    top: -20px;
    z-index: 1;
    background: yellow;
  }

  .layer {
    top: 80px;
    left: -20px;
  }
}

/* Tablet */

@media (max-width: 779px) {
  main {
    padding: 50px;
  }
  .card .content {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
  .section-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
  .layer {
    top: 60px;
    left: 10px;
  }
  .card:hover .content {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
  }
  .gif-box {
    grid-template-columns: 1fr;
  }
}

/* Phones */

@media (max-width: 500px) {
  .section-container {
    padding: 0rem;
  }
  main {
    padding: 30px;
  }

  .hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/images/ZDcX.gif") no-repeat center / 100%;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .grid-box .left h2 {
    font-size: 2rem;
  }

  .card .imgbx {
    position: relative;
    width: 100%;
    height: 260px;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100%;
    height: 100%;
  }

  .gallery .card {
    position: relative;
    max-width: 100%;
    height: 100%;
  }

  .content {
    opacity: 1;
    visibility: visible;
  }

  .layer {
    top: 60px;
    left: 10px;
  }
}
